:root {
    --cor-de-fundo: #CB7EFC;
    --grifar: #FC7EC0;
    --branco: #ffffff;
    --botao-ativo: #F12BFF;
    --botao-inativo: #804FFF;
    --texto-fundo: #000000;
}

.botao.ativo {
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--grifar);
}

@media screen and (min-width: 768px) {
    .botao {
        display: flex;
    }

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
    }
}